<div>
    <h1>
        Patient Visit
        <small>Preview</small>
    </h1>
    <div>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Patient General Details</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
                <div class="box-body">

                    <div class="form-group">
                        <label for="exampleInputFirstName">First Name</label>
                        <input type="text" class="form-control" id="exampleInputFirstName" placeholder="First Name">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputLastName">Last Name</label>
                        <input type="text" class="form-control" id="exampleInputLastName" placeholder="Last Name">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputNic">NIC</label>
                        <input type="text" class="form-control" id="exampleInputNic" placeholder="NIC">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputDOB">Date of Birth</label>
                        <input type="text" class="form-control" id="exampleInputDOB" placeholder="DOB">
                    </div>

                    <div class="form-group">
                        <label>Date:</label>

                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="datepicker1">
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        <label>Time picker:</label>

                        <div class="input-group">
                            <input type="text" class="form-control timepicker">

                            <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        <label for="exampleInputDoctor1">Doctor</label>
                        <input type="text" class="form-control" id="exampleInputDoctor1" placeholder="Doctor">
                    </div>

                    <div class="form-group">
                        <label>
                            Gender
                        </label>

                        <br/>
                            <input type="radio" name="r2" class="minimal-red" checked="true" style="position: absolute; opacity: 0;">
                            Male

                        <br/>

                            <input type="radio" name="r2" class="minimal-red" checked="" style="position: absolute; opacity: 0;">
                            Female
                    </div>

                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>


    </div>


    <div>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Patient Visit Details</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
                <div class="box-body">

                    <div class="form-group">
                        <label for="exampleInputComplaintInjury">Complaints/Injury</label>
                        <input type="text" class="form-control" id="exampleInputComplaintInjury"
                               placeholder="Complaints/Injury">
                    </div>

                    <div class="form-group">
                        <label>Visit type</label>
                        <select class="form-control">
                            <option>OPD</option>
                            <option>Clinic</option>
                            <option>Other</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputRemarks">Remarks</label>
                        <input type="text" class="form-control" id="exampleInputRemarks" placeholder="Remarks">
                    </div>

                    <div class="form-group">
                        <label>Date:</label>

                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="datepicker">
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        <label>Time picker:</label>

                        <div class="input-group">
                            <input type="text" class="form-control timepicker">

                            <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        <label for="exampleInputDoctor">Doctor</label>
                        <input type="text" class="form-control" id="exampleInputDoctor" placeholder="Doctor">
                    </div>

                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>


    </div>

</div>



